# {{ ansible_managed }}

version: "3.2"

networks:
  app-tier:
    driver: bridge

services:
  {{ minio_docker_service_name }}:
    container_name: {{ minio_docker_service_name }}
    image: quay.io/minio/minio:{{ minio_version }}
    {% if (minio_docker_user|length) and (minio_docker_group|length) %}
    user: {{ minio_docker_user }}:{{ minio_docker_group }}
    {% endif %}
    restart: unless-stopped
    tty: true
    environment:
      MINIO_ROOT_USER: {{ minio_root_user }}
      MINIO_ROOT_PASSWORD: {{ minio_root_password }}
    ports:
      - {{ minio_port }}:9000
    networks:
      - app-tier
    volumes:
      - ./data/.minio:/root/.minio
      - ./data:/data:rw
    entrypoint: sh
    command: -c 'mkdir -p /data/{{ minio_default_bucket }} && minio server /data --console-address ":{{ minio_port }}"'
    deploy:
      restart_policy:
        condition: on-failure
